:root {
    color: white;
}

/* Modern Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: white;
    align-self: center;
    justify-self: center;
}

.object-fit-contain {
    object-fit: contain;
}

body {
    display: grid;
    grid-template-rows: 
        [leftnav-start header-start] 100px [header-end main-start]
        1fr [leftnav-end main-end footer-start]
        100px [footer-end];
    grid-template-columns:
        [leftnav-start footer-start] 200px [leftnav-end header-start main-start]
        1fr
        1fr [header-end main-end footer-end];
}

.top-menu {
    grid-row: header;
    grid-column: header;
    
    background-color: #080B12;
}

main {
    grid-column: main;
    grid-row: main;

    display: grid;
}

.left-nav {
    grid-column: leftnav;
    grid-row: leftnav;
    
    background-color: #000000;

    display: grid;
    grid-template-rows: 100px 1fr;
}

.logo {
    width: 150px;
    align-self: center;
    justify-self: start;
}

aside {
    display: grid;
    grid-template-rows: 150px 1fr 100px;
}



.albums {
    background-color: #141922;
    height: calc(100svh - 200px);
}

footer {
    grid-row: footer;
    grid-column: footer;
    
    background-color: #282828;
}