/* Modern Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: white;
    align-self: center;
    justify-self: center;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 200px 1fr 1fr;

}

header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;

    background-color: #080B12;
}

main {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;

    position: relative;
}

.left-nav {
    background-color: #000000;

    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.albums {
    background-color: #141922;
    height: calc(100svh - 200px);
}

footer {
    background-color: #282828;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;

    position: sticky;
}