@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    color: white;

    /* Sizes */
    --left-nav-padding: 1rem;
    --vertical-border-width: 3px;

    --left-nav-width: 250px;

    /* Footer Sizes */

    /* Colors */
    --spotify-grey: #878787;
    --spotify-light-green: #7BB32B;
    --spotify--dark-green: #17904B;

    --progressbar-background: #5A5A5A;
    --progressbar-active: #C1C1C1;

    /* Fake controls for progress bars */
    --song-percentage: 30%;
    --volume-percentage: 65%;


    /* Font */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Modern Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: white;
}


a {
    /* Toggle underline for all a-tags */
    text-decoration: none;
}

a:visited {
    /* Toggle visited link color for all a-tags */
    color: white;
}

.left-menu-button {
    /* Padding between the green active/hover selector and the menu icons.
    Calculation: difference between the applied left-nav padding and the border width, so that the svg perfectly aligns with the grid line again*/
    padding-left: calc(var(--left-nav-padding) - var(--vertical-border-width));

    /* A-tags are insible when not hovered - but the standard padding is present with this solution */
    border-left: var(--vertical-border-width) solid transparent;
}

.left-menu-button:hover {
    border-left: var(--vertical-border-width) solid var(--spotify-light-green);
}

.object-fit-contain {
    object-fit: contain;
}

body {
    display: grid;

    /* row setup with custom named grid lines */
    grid-template-rows: 
        [leftnav-start header-start]
        100px [header-end main-start]
        1fr [ main-end footer-start]
        100px [footer-end];

    /* column setup with custom named grid lines */
    grid-template-columns:
        [leftnav-start footer-start]
        var(--left-nav-width) [leftnav-end header-start main-start]
        1fr [header-end main-end footer-end];

    /* vh is used as a fallback value.
    svh is better for modern browsers.
    always extends the body to the screen viewport height */
    min-height: 100vh;
    min-height: 100svh;
}


/* Top Header Section */
.top-menu {
    grid-row: header;
    grid-column: header;

    /* Make the top menu sticky */
    position: sticky;
    z-index: 1001;
    top: 0;

    background-color: #080B12;

    display: grid;
    align-items: center;
    justify-items: end;
}


.update-app-button {
    margin-right: 10px;
    
    border: 1px solid white;
    border-radius: 1.5rem;
    padding: 10px 35px;

    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
}

.update-app-button:hover {
    background-color: var(--spotify-light-green);
}


/* Left Section */
.left-nav {
    grid-column: leftnav;
    grid-row: leftnav;
    
    display: grid;
    grid-template-rows: 100px 1fr;
    
    background-color: #000000;

    /* Make the sidebar sticky and always the height of the viewport height minus the footer (regardless of scrolling)
    align-self to the start is very important here, so the grid container does not span the whole column! */
    position: sticky;
    top: 0;
    align-self: start;
    min-height: calc(100svh - 100px);

    /* Padding for whole left navigation */
    padding-left: var(--left-nav-padding);
    padding-right: var(--left-nav-padding);

    /* Padding between Player and Profile */
    padding-bottom: .5rem;
}

.logo {
    width: 150px;
    align-self: center;
    justify-self: start;
}

aside {
    display: grid;
    /* 1fr on purpose for the profile-menu, so that the left-menu and playlist-menu can extend */
    grid-template-rows: auto auto 1fr;

    /* Gap between menu, playlists and profile (better than all the manual paddings) */
    gap: 30px;
}

.left-menu {
    display: grid;
    grid-template-rows: 1fr;

    align-items: center;
    gap: 10px;

    /* Calculation: move the whole section to the left by the width of the whole nav-menu to have the active/hover selector on the left grid line */
    position: relative;
    left: calc(-1* var(--left-nav-padding));
}

.left-menu > a {
    display: grid;
    grid-template-columns: .3fr 1fr;

    align-items: center;
}

.left-menu-icons {
    height: 30px;
}

.playlist-menu {
    display: grid;
    grid-auto-rows: min-content;

    gap: 20px;
}

.playlist-menu > h3 {
    text-transform: uppercase;
}

.create-playlist-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;

    gap: 5px;
}

.create-playlist-icon {
    height: 40px;
}

.playlist-entry {
    color: #6F6F6F;
    font-weight: bold;
    font-size: 17px;
}

.profile-menu {
    display: grid;
    grid-auto-rows: min-content;
    align-content: end;

    gap: .8rem;
}

.app-install-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    
    gap: .3rem;
}

.app-install-icon {
    width: .8rem;
}

.app-install-text {
    color: #6F6F6F;
    font-weight: bold;
    font-size: .8rem;
}

.line-divider {
    border-top: 1px solid #6F6F6F;
    border-radius: 10px;
}

.profile-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: .3rem;
}

.profile-icon {
    background-color: #6F6F6F;
    border-radius: 50%;
    width: 1.1rem;
    height: 1.1rem;
    object-fit: contain;
}

.profile-text{ 
    font-weight: bold;
    font-size: 1.1rem;
}


/* Main Section */
main {
    grid-column: main;
    grid-row: main;

    /* Needs to be grid so it can flow between the grid lanes */
    display: grid;
}

.main-music-container {
    display: grid;
    grid-template-rows: 100px 1fr;

    background-color: #141922;
}

/* TODO: Add media query for the music header on very small screens (only 1 row visible) */

.music-nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));

    gap: 10px;
    /* max-height: 100px; */

    place-items: center;

    padding: 1% 5%;

    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    text-align: center;

    /* Make the menu items auto align in the grid (pyramid positioning)
    
    What is this calculation for bro?
    6rem is the same MIN value like in the auto-fit grid.
    Multiply times 2 (first example) for the current number of columns we have
    Add 10px which is the gap size. x-times MINUS 1 the amount of columns
    6 columns == 5 gaps == 5 x 10px
    
    This means: "A new row will appear when the screen size, is smaller than this calculation" */

    /* From here on: nested container styling */
    container-type: inline-size;

    /* when we have 2 columns (visually 1)*/
    @container (width >= calc(6rem * 2 + 10px)) {
        .music-nav-item {
            /* border: 1px dotted white; */
            grid-column: span 2;
        }
    }

    /* when we have 8 columns (visually 4) */
    @container (width > calc(6rem * 8 + 70px)) and ( width < calc(6rem * 10 + 90px)) {
        .music-nav-item:nth-child(4n + 5):last-child {
            grid-column: 4 / 6;
        }

        &:has(:nth-child(4n + 6):last-child) > :nth-last-child(2) {
            grid-column: 3 / 5;
        }

        &:has(:nth-child(4n + 7):last-child) > :nth-last-child(3) {
            grid-column: 2 / 4;
        }
    }

    /* when we have 10 columns (visually 5) */
    @container (width > calc(6rem * 10 + 90px)) and (width < calc(6rem * 12 + 110px)) {
        .music-nav-item:nth-child(4n + 6):last-child {
            grid-column: 5 / 7;
        }
    }
}

.music-nav > a {
    color: var(--spotify-grey);
    position: relative;
}

/* Effects on music nav */
.music-nav-item::after {
    --underline-width: 40px;

    content: '';
    background: transparent;
    width: var(--underline-width);
    height: 2px;
    border-radius: 100px;

    position: absolute;

    /* Start exactly in the middle of the a-tag */
    bottom: -2px;
    left: calc(50% - var(--underline-width)/2);
}

/* Effects on music nav */
.music-nav > a:hover::after {
    background: var(--spotify-light-green);
    transition: 350ms ease-in-out;
    
    left: 0;
    width: 100%;
}

/* Effects on music nav */
.active-menu-item::after {
    --underline-width: 40px;

    content: '';
    background: var(--spotify--dark-green);
    width: var(--underline-width);
    height: 2px;
    border-radius: 100px;

    position: absolute;
    
    /* Start exactly in the middle of the a-tag */
    bottom: -2px;
    left: calc(50% - var(--underline-width)/2);
}

.albums-container {
    display: grid;
    grid-template-rows: repeat(3, max-content);

    padding: 0 2%;
}

/* Set grid for all articles in the albums container (default) */
.albums-container article {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    align-items: center;
    gap: 1rem;

    padding-bottom: 2rem;
}

/* Grid variant without a subtitle */
.albums-container .recently-played-container {
    grid-template-rows: max-content 1fr;
}

.album-card-container {
    display: grid;

    /* Use auto-fill here to ensure album cards are always stacked to the left and not fill up all the columns - regardless of the columns */
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
}

.album-card {
    display: grid;
    grid-template-rows: 1fr min-content min-content;

    /* Align the image, title and subitle centered on the card */
    align-items: center;
    justify-items: center;
    gap: 15px;

    /* Cards start all on same horizontal level */
    align-self: start;
}

/* Variant for the album cards without subtitles */
article:not(.recently-played-container) > .album-card-container > .album-card {
    grid-template-rows: 1fr min-content;
}

.album-image {
    width: 150px;
}

.album-name {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

.ablum-subtitle {
    color: var(--spotify-grey);
}

.profile-circle {
    border-radius: 50%;
}

/* Footer Section */
footer {
    grid-row: footer;
    grid-column: footer;
    
    background-color: #282828;

    /* Make the footer sticky */
    position: sticky;
    bottom: 0;
    z-index: 1001;
    
    display: grid;
    grid-template-columns:
    [active-song-start]
    var(--left-nav-width) [active-song-end player-controls-start]
    1fr [player-controls-end volume-control-start]
    auto [volume-control-end];

    align-items: center;
}

.active-song {
    grid-column: active-song;

    display: grid;
    grid-template-columns: .5fr 1fr .2fr .2fr;
    gap: 14px;

    padding-left: var(--left-nav-padding);
    padding-right: 10px;

    justify-items: center;
    align-items: center;
}

.active-song-image {
    width: 60px;
}

.active-song-details {
    justify-self: start;
}

.active-song-name {
    font-size: 16px;
    font-weight: 700;
}

.active-song-interpret {
    font-size: 13px;
    font-weight: 600;
    color: var(--spotify-grey) ;
}

.active-song-icon {
    height: 18px;
}

.player-controls {
    grid-column: player-controls;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    /* Padding for whole control section */
    padding: 0 2rem;
}

.control-buttons {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 15px;

    /* Better solution for the container than using an insane padding */
    justify-self: center;

    /* Alignment for buttons */
    align-items: center;
    justify-items: center;
}

.control-buttons > * > img {
    width: 25px;
}

/* Bigger size for play button compared to all other controls */
#play-button {
    width: 40px;
}

.progress-bar {
    display: grid;

    /* Minmax to define the minimum width the progress bar will shrink to */
    grid-template-columns: min-content minmax(6rem, 1fr) min-content;
    gap: 50px;

    align-items: center;
    justify-items: center;

    /* Padding only for progress bar */
    padding: 0 5.5rem;
}

.progress-bar-background {
    background-color: var(--progressbar-background);
    border-radius: 20px;
    height: 6px;
    /* Necessary to always draw the background */
    width: 100%;
}

.progress-bar-active {
    background-color: var(--progressbar-active);
    border-radius: 20px;
    height: 6px;
}

.progress-song-percentage {
    /* Fake controls the progress of the song */
    width: var(--song-percentage);
}

.progress-bar-time {
    font-size: .8rem;
    font-weight: 600;
}

.volume-control {
    grid-column: volume-control;

    display: grid;
    grid-template-columns: repeat(3, 1fr) 8rem;
    gap: 14px;

    align-items: center;
    justify-items: center;

    /* Grid column is set to auto - so we apply a right padding that the volume control always has the same padding as the left sidebar */
    padding-right: var(--left-nav-padding);
}

/* Size for all font-awesome icons */
.fa-solid {
    font-size: 18px;
}

.volume-percentage {
    /* Fake controls the volume */
    width: var(--volume-percentage);
}